.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 5rem;
  font-weight: 900;
}

.subTitle {
  font-weight: 800;
  margin: 0.5rem 0;
}

.container__box {
  border: 2px solid #d2e2ec;
  border-radius: 20px;
  padding: 3rem 8rem;
}

.input__box {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-right: 1.5rem;
  border: 1px solid #d2e2ec;
}

.input__code {
  background-color: #f4f8fa;
}

.check__btn {
  color: #1f7ceb;
  border: solid 1px #d2e2ec;
  background-color: white;
  width: 45%;
}

.check__btn:hover {
  cursor: pointer;
  margin: auto;
}

.changeBtn {
  background-color: #1f7ceb;
  color: white;
  border-radius: 25px;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 0.3rem;
}

.changeBtn:hover {
  cursor: pointer;
}
