.header {
  margin: 1rem 1.5rem;

  border: 2px solid #dae9fc;
  border-radius: 15px;
}

.inputContainer {
  display: flex;
  padding: 0.5rem;
}

.icon {
  background: url('../../../public/icons/search.png');
  background-size: cover;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
}

.search {
  border: none;
}

.tag__container {
  display: flex;
  padding: 0.5rem;
}

.tag__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tagIcon {
  background: url('../../../public/icons/tag.png');
  background-size: cover;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.5rem;
  margin-right: 0.8rem;
}

.part {
  display: flex;
  align-items: center;
}

.partIcon {
  background: url('../../../public/icons/part.png');
  background-size: cover;
  width: 0.9rem;
  height: 0.9rem;
  margin: 0.5rem;
  margin-right: 0.8rem;
  margin-left: 1rem;
}

.partList {
  display: flex;
}

.part__content {
  margin: 0.3rem 0.5rem;
  font-size: 0.7rem;
}

.sort__container {
  display: flex;
  justify-content: space-between;
}

.sort__box {
  display: flex;
  align-items: center;
}

.sortIcon {
  background: url('../../../public/icons/sort.png');
  background-size: cover;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.5rem;
  margin-right: 0.8rem;
  margin-left: 2rem;
}

.sort__text {
  font-size: 0.7rem;
  margin-right: 0.5rem;
}

select {
  font-size: 0.7rem;
  border: 2px solid #7cb2f3;
  border-radius: 1rem;
  padding: 0.3rem 0.5rem;
}

.toggle__box {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.toggle__text {
  font-size: 0.7rem;
  margin-right: 0.3rem;
}

.toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid #7cb2f3;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}

.toggleBtn::before {
  content: '';
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: #7cb2f3;
  transition: left 250ms linear;
}

.toggleBtn:checked {
  background-color: tomato;
  border-color: tomato;
}

.toggleBtn:checked::before {
  background-color: white;
  left: 1em;
}

.toggleBtn:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) solid tomato;
}

.projectGrid {
  margin-top: 1rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .projectGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
