.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__box {
  border: 2px solid #d2e2ec;
  border-radius: 20px;
  padding: 3rem 8rem;
}

.title {
  margin-top: 5rem;
  font-weight: 900;
  margin-bottom: 1.3rem;
}

.title__sub {
  font-weight: 800;
  margin-bottom: 0.2rem;
}

.input__box {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.check__btn {
  color: #1f7ceb;
  border: solid 1px #d2e2ec;
  background-color: white;
  width: 25%;
  margin-left: 1.5rem;
  border-radius: 1px;
}

.check__btn:hover {
  cursor: pointer;
}

.btn__container {
  display: flex;
  justify-content: center;
}
.btn__join {
  width: 80%;
  background-color: #1f7ceb;
  margin-top: 1rem;
  color: white;
  border-radius: 25px;
  padding: 0.4rem 0.6rem;
  border: none;
}

.btn__join:hover {
  cursor: pointer;
}

.input__content {
  padding: 0.5rem;
  width: 12rem;
  border: 1px solid #d2e2ec;
  border-radius: 1px;
}

.input__pw {
  width: 93%;
  padding: 0.5rem;
  border: 1px solid #d2e2ec;
  border-radius: 1px;
}

.pw__containter {
  margin: 1rem 0;
}
