.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__box {
  margin-top: 5rem;
  border: 2px solid #d2e2ec;
  border-radius: 20px;
  padding: 3rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 80%;
  background-color: #1f7ceb;
  margin-top: 1rem;
  color: white;
  border-radius: 25px;
  padding: 0.3rem 0.6rem;
  border: none;
}

.btn:hover {
  cursor: pointer;
}
