.container {
  border: solid 0.2rem #7cb2f3;
  padding: 1rem;
  margin: 1rem;
  border-radius: 3rem;
  position: relative;
}

.clip {
  position: absolute;
  top: 0;
  right: 1.5rem;
}

.clip:hover {
  cursor: pointer;
}

.type__container {
  display: flex;
  margin: 0.3rem;
}

.title {
  margin: 0.5rem;
  font-weight: 500;
}

.type__text {
  background-color: #7cb2f3;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  color: white;
  margin-right: 0.2rem;
}

.period__text {
  background-color: #ff595e;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  color: white;
}

.cur__cnt {
  margin-bottom: 1rem;
}

.tagImg {
  padding: 0.2rem;
  border: 0.1rem solid #7cb2f3;
  border-radius: 100%;
  margin: 0.1rem;
}

.role__container {
  background-color: #dae9fc;
  padding: 1rem;
}

.bottom__box {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
}

.bottom__writer {
  display: flex;
}

.bottom__writer p {
  margin: 0 0.4rem;
}

.bottom__viewCnt {
  display: flex;
}

.bottom__viewCnt p {
  margin: 0 0.4rem;
}
