.btn {
  background-color: #1f7ceb;
  margin-top: 1rem;
  color: white;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  border: none;
  width: 6rem;
  margin: 0.2rem;
}

.btnActive {
  width: 6rem;
  background-color: brown;
  margin-top: 1rem;
  color: white;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  border: none;
  margin: 0.2rem;
}
